/* basics */
*{
    font-family: sans-serif;
}

/* main */
.statusDiv{
    padding: 1rem;
    display: flex;
    align-items: center;
}
.head{
    margin: .2vh 1vw 1vh 1vw;
}
select {
    margin-left: 2vw;
    border: 2px solid black;
    background-color: #ecebeb;
    font-size: 16px;
    padding: 8px;
    width: 100px;
    position: relative;
    display: inline-block;
    text-align: center;
    text-align-last: center;
    cursor: pointer;
}
select::after {
    content: '\2193';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #666666;
}

/* media queries */
@media screen and (max-width: 768px) {
    .statusDiv{
        flex-direction: column;
        padding-left: 0;
    }
    select{
        margin-left: 0;
    }
}
@media screen and (max-width: 568px) {
    .statusDiv{
        padding-left: .2rem;
        padding-top: 0.2vh;
        padding-bottom: 1vh;
        flex-direction: row;
    }
}
  