/* basics */
*{
    font-family: sans-serif;
}
.main{
    display: flex;
}

/* filters */
.filters{
    width: 35vw;
    padding: 3rem;
}

/* main */
.content{
    width: 65vw;
    padding: 3rem;
}
.searchBox{
    margin: 2vh 3vw 2vh 1vw;
}
.searchBox > input{
    width: 40vw;
    height: 35px;
    border-radius: 20px;
    border: 1.5px solid #000000bd;
    padding-left: 20px;
    font-size: 16px;
}
.searchBox > input:focus{
    outline: none;
}


/* media queries */
@media screen and (max-width: 768px) {
    .main{
        flex-direction: column;
        justify-content: center;
    }
    .filters, .content{
        width: 100vw;
        padding: .5rem 2rem 1rem 2rem;
    }
    .allFilters{
        display: flex;
    }
    .searchBox{
        margin: 1vh 2vw 2vh 2vw;
    }
    .searchBox > input{
        width: 70vw;
    }
}
@media screen and (max-width: 568px) {
    .allFilters{
        flex-direction: column;
    }
}